<nav class="nav">
    <header class="header-name">Lily Corner</header>
    <ul class="nav-bar">
        <li>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li>
            <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Products</a>
        </li>
        <li>
            <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">Cart</a>
        </li>
        <li>
            <a routerLink="/confirmation" routerLinkActive="active" ariaCurrentWhenActive="page">Confirmation</a>
        </li>
    </ul>
</nav>
