li {
    list-style-type: none;
    padding: 5px 5px;
}

.list_text {
    margin: 10px 10px;
}

.title {
    margin: 10px 10px;
}

.checkout_button {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #855c85;
    color: white;
    font-size: 15px;
    border-color: white; 
}