.product_container {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    border-color: white;
    background-color: white;
    width: 20vw;
}

.add_button {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #855c85;
    color: white;
    font-size: 15px;
    border-color: white; 
}

.story_image {
    width: 10vw;
    height: 10vh;
}