.product_container {
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    border-color: white;
    background-color: white;
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.add_button {
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #855c85;
    color: white;
    font-size: 15px;
    border-color: white; 
}

.story_image {
    width: 20vw;
    height: 55vh;
}

.name {
    font-weight: 600;
    font-size: 18px;
}