<div class="home">
    <h2 class="title">Explore your best image</h2>
    <div class="landing">
        <div class="text_box">
            <p class="landing_text">We have all the most stylish jewelry pieces</p>
            <p class="landing_text">Special for every occasions</p>
            <button class="discover" [routerLink]="['/products']">Discover your gem</button>
        </div>
        <img class='landing_image' title="home" src="../../../assets/landing.jpg"/>
    </div>
    <h3 class="landing_text">Every jewelry tells a story</h3>
    <ul *ngFor="let imageName of imageList" class="story">
        <li>
            <img title={{imageName}} src="../../../assets/{{imageName}}.jpg" class="story_image"/>
        </li>
    </ul>
</div>
